body {
  height: 100vh;
}

button {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.posts {
  margin: 1rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 500px), 1fr));
  gap: 10px 10px;
}

.unauthorized {
  margin: 0 auto;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  margin: 0 auto;
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form form {
  display: flex;
  flex-direction: column;
}

form label input {
  display: block;
  margin-top: 5px;
}

.form-heading {
  margin-bottom: 1rem;
}

input {
  margin-bottom: 1rem;
}
textarea {
  margin-bottom: 1rem;
}
